{% extends 'bibtex/base.html' %}
{% load staticfiles %}
{% block content %}

<script src="{% static 'lib/bibtexentry.js' %}"></script>
<script src="{% static 'lib/parse-bibtex.js' %}"></script>

<script>
"use strict";

function goBack() { window.location = "{% url 'bibtex:index' %}"; }

function reenableSubmitButtons() {
	$(".submit").each(function(index) {
		$(this).removeClass("submitdisabled");
		if($(this).hasClass("fileuploadbutton")) {
			$(this).val("Upload")
		} else {
			$(this).val("Submit")
		}
		this.disabled = false;
		console.log("@@@@@ Enabling");

	});
}


function handleServerResponse(text, responseText, statusText, xhr, $form) {
	reenableSubmitButtons();

	{% if not entry %}
	var msgtext = "Paper sucessfully added to the database";
	{% else %}
	var msgtext = "Entry sucessfully edited";
	{% endif %}

	if(text.startsWith("BADFILE")) {
		swal({title: "Warning", 
			text: "Your bibtex was accepted, but an error occurred trying to upload your file. Try editing your newly-added paper to add the file separately.", 
			type: "warning"}, goBack);
	} else if(text.startsWith("OK")) {
		swal({title: "Success", text: msgtext, type: "success"}, goBack);
	} else swalError(text);
}

function handleServerResponseAddFile(text, responseText, statusText, xhr, $form) {
	reenableSubmitButtons();
	if(text.startsWith("OK")) {
		swal({title: "Success", text: "File uploaded.", type: "success"}, goBack);
	} else swalError(text);
}

function handleError(text, responseText, statusText, xhr, $form) {
	reenableSubmitButtons();
	swalError(text);
}

function deleteResponse(data) {
	reenableSubmitButtons();
	if(data == "OK") {
		{% if entry %}
			window.location = "{% url 'bibtex:edit' entry.pk %}";
		{% else %}
			window.location = "{% url 'bibtex:index' %}";
		{% endif %}
	} else {
		swalError(data);		
	}
}

function validateAddFile(data, jqForm, options) {
	for(var i = 0; i < data.length; i++) {
		if(data[i].name == "file" && data[i].value == "") {
			swalError("Please select a file to upload.");
			return false;
		}
	}

	$("#fileaddform .submit").each(function () { 
		this.disabled = true;
		$(this).addClass("submitdisabled");
		$(this).val("Please wait...");
	});

	return true;
}


function validate(data, jqForm, options) {
	function checkNotEmpty(name) {
		if($('input[name=manual_' + name + ']').val() == "") {
			swalError("Field '" + name + "' must not be empty.");
			reenableSubmitButtons();
			return false;
		}

		$("#bibtexaddform .submit").each(function () { 
			this.disabled = true;
			$(this).addClass("submitdisabled");
			$(this).val("Please wait...");
		});

		return true;
	}

	if($("input#entryMode").val() == "raw") {
		if($('textarea#rawbibtexentry').val() == "") {
			swalError("Please enter a bibtex entry.");
			reenableSubmitButtons();
			return false;
		}
	} else {
		if($('input[name=entrytype]:radio:checked').length == 0) {
			swalError("Please select an entry type.");
			reenableSubmitButtons();
			return false;
		}
		return checkNotEmpty('title') && checkNotEmpty('author') && checkNotEmpty('year');
	}
}


function checkBibtexKeyLive() {
	checkBibtexKey($('textarea#rawbibtexentry').val(), "{% url 'bibtex:searchkey' %}", "{{csrf_token}}");
}

$(function() {
	$("#rawbibtexlink").click(function() {
		$("#basicadd").hide();
		$("#advancedadd").show();
		$("input#entryMode").val("raw");
	});

	$("#addwithfieldslink").click(function() {
		$("#basicadd").show();
		$("#advancedadd").hide();
		$("input#entryMode").val("fields")
	});

	$("#bibtexaddform").ajaxForm({beforeSubmit: validate, success: handleServerResponse, error: handleError});
	$("#fileaddform").ajaxForm({beforeSubmit: validateAddFile, success: handleServerResponseAddFile, error: handleError});

	$('input[name="entrytype"]').each(function(index) {
		$(this).click(function() {
			bibtexInputTypeClick(this);
		});
	});

	$(".deletefile").each(function(index) {
		$(this).click(function() {
			var delurl = $(this).data("id");

			swalWarn("Confirm delete", "Are you sure you want to delete this file?", "Delete", function(){
				$.ajax({
					type: "POST",
					url: delurl,
					data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
					success: deleteResponse
				});
			});
		});
	});
})



</script>

{% if username %}

{% if not entry %}
	<h1>Add an entry to the database</h1>
	<p>You are adding as the user <span class="username">{{username}}</span>. In order to edit this entry in the future you will have to use the same user account. If this is incorrect, please log out and log in as a different user.</p>
{% else %}
	<h1>Edit an entry</h1>
{% endif %}

<div class="editbox">

<form action="{%url 'bibtex:addedit' %}" method="post" id="bibtexaddform" enctype="multipart/form-data">
	{% csrf_token %}
	{% if entry %}
		<input type="hidden" name="pk" value={{entry.pk}}>
		<input type="hidden" name="edit" value="edit">
		<input type="hidden" name="entryMode" id="entryMode" value="raw">
	{% else %}
		<input type="hidden" name="entryMode" id="entryMode" value="fields">
	{% endif %}

	{% if not entry %}
		<div id="basicadd">
			<p class="notopmargin">Enter the details of the new entry below. When entering multiple authors, please use proper Bibtex formatting. i.e. <tt>Neil C. Audsley and Leandro Soares Indrusiak and Alan Burns</tt>.</p>
			<p>Required fields are <b>bold</b>, optional fields <span class="bibtex_optional">are italics</span>.</p>
			<p><a href="#" id="rawbibtexlink">Or add the raw Bibtex entry manually</a></p>

			<label>Entry type: </label>
			
			<table width="100%" cellpadding="2">
			<tr>
				<td><input type="radio" name="entrytype" value="article">Article</td>
				<td><input type="radio" name="entrytype" value="book">Book</td>
				<td><input type="radio" name="entrytype" value="inproceedings">Inproceedings</td>
				<td><input type="radio" name="entrytype" value="incollection">Incollection</td>
			</tr>
			<tr>
				<td><input type="radio" name="entrytype" value="misc">Misc</td>
				<td><input type="radio" name="entrytype" value="phdthesis">Phdthesis</td>
				<td><input type="radio" name="entrytype" value="techreport">Techreport</td>
			</tr>
			</table>
			<p></p>
			<table cellpadding="2">
			<tr><td><label>Title: </label></td><td><input type="text" name="manual_title" value="" size=80></td></tr>
			<tr><td><label>Author(s): </label></td><td><input type="text" name="manual_author" value="" size=80></td></tr>
			<tr><td><label>Year: </label></td><td><input type="text" name="manual_year" value="" size=20></td></tr>

			<tr id="tr_journal" class="initiallyHidden"><td><label>Journal: </label></td><td><input type="text" name="manual_journal" value="" size=80></td></tr>
			<tr id="tr_publisher" class="initiallyHidden"><td><label>Publisher: </label></td><td><input type="text" name="manual_publisher" value="" size=80></td></tr>
			<tr id="tr_booktitle" class="initiallyHidden"><td><label>Booktitle: </label></td><td><input type="text" name="manual_booktitle" value="" size=80></td></tr>
			<tr id="tr_volume" class="initiallyHidden"><td><label>Volume: </label></td><td><input type="text" name="manual_volume" value="" size=20></td></tr>
			<tr id="tr_number" class="initiallyHidden"><td><label>Number: </label></td><td><input type="text" name="manual_number" value="" size=20></td></tr>
			<tr id="tr_pages" class="initiallyHidden"><td><label>Pages: </label></td><td><input type="text" name="manual_pages" value="" size=20></td></tr>
			<tr id="tr_series" class="initiallyHidden"><td><label>Series: </label></td><td><input type="text" name="manual_series" value="" size=80></td></tr>
			<tr id="tr_edition" class="initiallyHidden"><td><label>Edition: </label></td><td><input type="text" name="manual_edition" value="" size=80></td></tr>
			<tr id="tr_month" class="initiallyHidden"><td><label>Month: </label></td><td><input type="text" name="manual_month" value="" size=20></td></tr>
			<tr id="tr_editor" class="initiallyHidden"><td><label>Editor: </label></td><td><input type="text" name="manual_editor" value="" size=80></td></tr>
			<tr id="tr_school" class="initiallyHidden"><td><label>School: </label></td><td><input type="text" name="manual_school" value="" size=80></td></tr>
			<tr id="tr_institution" class="initiallyHidden"><td><label>Institution: </label></td><td><input type="text" name="manual_institution" value="" size=80></td></tr>
			<tr id="tr_howpublished" class="initiallyHidden"><td><label>Howpublished: </label></td><td><input type="text" name="manual_howpublished" value="" size=80></td></tr>
			</table>
			<p></p>
			<label>Abstract: </label><textarea cols="60" rows="6" name="manual_abstract"></textarea>
			</ul><p></p>
		</div>
	{% endif %}

	<div id="advancedadd" {% if not entry %} class="initiallyHidden" {% endif %}>
		<p class="notopmargin">Please ensure that your Bibtex has <tt>title</tt>, <tt>author</tt> and <tt>year</tt> fields, and you should include an <tt>abstract</tt> field if possible.</p>

		{% if not entry %}
			<p><a href="#" id="addwithfieldslink">Or add by entering fields individually</a></p>
		{% endif %}

		<div>
			<div><label for="bibtex">Raw bibtex input:</label></div>
			<textarea cols="60" rows="15" name="bib" id="rawbibtexentry">{{entry.bib}}</textarea>
		</div><div id="keysearchresults"></div><p></p>
	</div>

	<div>
	{% if entry %}
		{# Allow file deletions if at least one DocEntry exists for this Entry #}
		{% if docfile_set|length > 0 %}
			<h3>Files linked to this entry</h3>
			<ul class="filelist">
			{% for doc in docfile_set %}
				<li><a href="{{ftpbase}}{{doc.filename}}">{{doc.filename}}</a> - <a href="#"><span class="deletefile" data-id="{%url 'bibtex:delete_file' doc.id %}">Delete</span></a></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% else %}
		{# Can upload a file along with a new entry #}
		<div><label for="file">Upload file</label></div>
		<input type="file" name="file">

		<p><div><input type="checkbox" name="email" value="email" checked>
		Email the RTS group that this paper has been submitted?</div>

	{% endif %}

	</div>

	<div class="centre">
		<input type="submit" class="submit" value="Submit">
	</div>
</form>
</div>

{% if entry %}
{# Couldn't nest the file upload form, so if in edit mode we create a new one here. #}
<div class="editbox">
<div><h3 class="notopmargin">Upload new file for this entry</h3></div><p></p>
<form action="{%url 'bibtex:add_file' entry.pk %}" method="post" id="fileaddform" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="pk" value={{entry.pk}}>
<input type="file" name="file"><br>
<div class="centre">
	<input type="submit" class="submit fileuploadbutton" value="Upload">
</div>
</form>
</div>
{% endif %}


{% else %}

<h1>Not logged in</h1>
<p>You are not logged in to the departmental webpages.</p>
{% endif %}

<p><a href="{% url 'bibtex:index' %}">Back</a></p>

{% endblock %}
