{% extends 'bibtex/base.html' %}
{% block content %}

<script>
"use strict";

function goBack() {
	window.location = "{% url 'bibtex:index' %}";
}

function deleteResponse(data) {
	if(data == "OK") {
		window.location = "{% url 'bibtex:index' %}";
	} else {
		swalError(data);	
	}
}

$(function() {
	$("#deleteentry").click(function() {
		swalWarn("Confirm delete", "Are you sure you want to delete this entry?", "Delete", function() {
				$.ajax({
					type: "POST",
					url: "{%url 'bibtex:delete_confirm' entry.pk %}",
					data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
					success: deleteResponse
				})});
	})
})
</script>


{# Main details #}
<h1>{{ entry.title }}</h1>
<h2>{{ entry.author }}, {{entry.year}}</h2>
<p class="addedline">added by {{entry.owner}} on {{entry.entered|date:"N j, Y"}}


{# If there is an Abstract entry in the bibtex of the Entry then print it #}
{% ifnotequal entry.abstract "" %}
<h3>Abstract</h3>

{# Display image link if it exists (such as the cover image for a book) #}
{% if entry.imgurl.strip != "" %}
<img src="{{entry.imgurl}}" align="right">
{% endif %}

<p class="notopmargin">{{ entry.abstract }} </p>
{% endifnotequal %}


{# Add download link(s) if at least one DocEntry exists for this Entry #}
{% if docfile_set|length > 0 or entry.downloadurl.strip != "" %}
<h3>Download</h3>
<ul class="filelist">
{% for doc in docfile_set %}
	<li><a href="{{ftpbase}}{{doc.filename}}">{{doc.filename}}</a></li>
{% endfor %}
	{% if entry.downloadurl.strip != "" %}
		<li><a href="{{entry.downloadurl}}">{{entry.downloadurl}}</a></li>
	{% endif %}
</ul>
{% endif %}


{# Output the raw bibtex #}
<h3>Bibtex</h3>
<div class="bibtex">
<p class="nomargins"><pre class="nomargins">{{entry.bib}}</pre></p>
</div>


{# Actions if this is our paper #}
{% if owner %}
<h3>Actions</h3>
<ul class="actionlist">
<li><a href="{% url 'bibtex:edit' entry.pk%}">Edit</a></li>
<li><a href="#"><span id="deleteentry">Delete</span></a></li>
</ul>
{% endif %}


<p><a href="{% url 'bibtex:index' %}">Back</a></p>

{% endblock %}

