{% extends 'bibtex/base.html' %}
{% block content %}

<h1>RTS Bibtex Database</h1>
{% if username != "" %}
<p>You are logged in as user <span class="username">{{username}}</span>. 
{% endif %}

<h3>Actions</h3>
<ul class="actionlist">
{% if username != "" %}
<li><a href="{% url 'bibtex:add' %}">Add a paper to the database</a></li>
<li><a href="{% url 'bibtex:view' %}">View/edit papers you have added</a></li>
{% endif %}
<li><a href="{% url 'bibtex:search' %}">Search the database</a></li>
</ul>

<h3>Recently added papers</h3>
<ul class="paperlist">
{% for entry in recent %}
	<li><a href="{% url 'bibtex:detail' entry.pk %}">{{entry.author}} - <i>{{entry.title}}</i>, {{entry.year}}</a></li>
{% endfor %}
</ul>

{% if username != "" %}
<p>&nbsp;</p>
<p>Please report any bugs, problems, or suggestions to <a href="mailto:ian.gray@york.ac.uk">Ian Gray</a>. <a href="api">API documentation.</a></p>
{% endif %}

{% endblock %}