{% extends 'bibtex/base.html' %}
{% block content %}

<script>

function perform_search() {
	postdata = {
			csrfmiddlewaretoken: "{{ csrf_token }}",
			term: $("#searchterm").val(),
	}
	if($('#search_author').is(':checked')) postdata.search_author = "true";
	if($('#search_title').is(':checked')) postdata.search_title = "true";
	if($('#search_all').is(':checked')) postdata.search_all = "true";

	fromyear = parseInt($("#fromyear").val())
	if(isNaN(fromyear)) {
		fromyear = {{fromyear}};
		$("#fromyear").val({{fromyear}});
	} else postdata.fromyear = fromyear;

	toyear = parseInt($("#toyear").val())
	if(isNaN(toyear)) {
		toyear = {{toyear}};
		$("#toyear").val({{toyear}});
	} else postdata.toyear = toyear;
	
	$.ajax({
		type: "POST",
		url: "{%url 'bibtex:getsearch' %}",
		data: postdata,
		success: function(data) {
			$("#searchresults").html(data)
		}
	})
}

function check_for_enter(e, textbox){
	var code = e.keyCode ? e.keyCode : e.which;
	if(code == 13) perform_search();
}

$(function() {
	$("#searchbutton").click(perform_search);
})
</script>



<h1>Search the database</h1>

<p>Use this form to search the RTS papers database. If you leave the search box empty then the search will return all papers. The From and To boxes have automatically been filled to cover the entire range of papers in the database.</p>

<form>
<label>Search for: <input type="text" id="searchterm" onKeyPress="check_for_enter(event, this)"></label>

<ul class="nobullets">
<li><label><input type="checkbox" id="search_author" checked="yes"> Author</label></li>
<li><label><input type="checkbox" id="search_title" checked="yes"> Title</label></li>
<li><label><input type="checkbox" id="search_all"> Entire entry</label></li>
</ul>
<p>
<label>From: </label><input type="text" id="fromyear" value="{{fromyear}}" size=4 onKeyPress="check_for_enter(event, this)">
<label>To: </label><input type="text" id="toyear" value="{{toyear}}" size=4 onKeyPress="check_for_enter(event, this)">
</p>
<span class="submit" id="searchbutton">Search</span>
</form>


<div id="searchresults"></div>

<p><a href="{% url 'bibtex:index' %}">Back</a></p>

{% endblock %}

